os:
- linux
- osx
language: java
jdk:
- openjdk11
sudo: false
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
install: skip
test: skip
jobs:
  include:
  - stage: build pull request
    if: type = pull_request
    script: "./gradlew check jacocoTestReport"
  - stage: build master
    if: branch = master AND NOT type = pull_request
    script: "./gradlew check jacocoTestReport publish"
  - stage: publish master
    if: branch = master AND NOT type = pull_request AND os = linux
    script: "./gradlew publish -x test"
  - stage: build release
    if: branch =~ /release/ AND os = linux
    script: "./gradlew check publish bintrayUpload -Pversion=${TRAVIS_BRANCH#'release/'}"
  - stage: release
    if: branch =~ /release/ AND os = linux
    script: "./gradlew closeAndReleaseRepository"
  - stage: github release 
    if: branch =~ /release/ AND os = linux
    script: "./scripts/github-release.sh"
env:
  global:
  - secure: Chzc6Zo50VV6yi9h3EMMPy59HOJYI2rpsAbDHc2prIeJ87gIQ2UhxojkVbdLcy0g2JV4gEspDK0sPK+NgJ/m6BSqbdUyfmlZXFvwFi5NAG4lDRRtnluzJD9Xap7fCBok1dTXZVHibb2SrAsXov2GFAOFSYjZEIIt8smKSQKW9hMAyqmcqxOWTAwpUVLU3k1Mg1n2VbzkJWIq/ElXBjMdP4hGpd5X0cIdincv6iZIydmmQedDijGXCfSoZLGspeHZyZzt1sODuoflEaqlDJQNZU32wkfEjsGK6Krwj5A3m0bTguYM6AN9uBjaI+Zoovv90bp9utHKm//emtuucgDr+AEDmA9IHtpy8VKHoQzd6B7EXclvZG00lwaKsN8gfqqtC4mnhakEaRn13EPYW/u8LPJ0/vzkchPC5KVXhBfIMZOZ7DcgdSQSXMWfgw9sRLlxcuD6/U+1sSYgSCJ1obBTP+d19QoLo1fDXtIobelv4pnmldOUghiwIJRcC9wSRLERvi+idmw10jSmPUevRU2m+1pol9MPraXU5y/IZxSEJ34iwhf7YbWtus6a1AwymQiL11h5uBplKWWD/MEGB0Hp2M6OfSqLe5tTWfgXBGTkTkJ2qdmnfzfn9CEWanH+T9f+UNat4cVVTImQs0qEjadtO7MYmtN7kLttPGZ/txsUTcQ=
  - secure: FGquUfBprCHXgfbny5oR2fXDIUtSxzHwEFYGH0sn9c2TJKPHv6YAdtGkCs9BimywErnYOhFMCxT6/981DNVyzl/WbxMc2QwQqvof5/SVD+gAbMAOeuEv7x6QnvuYhiUhN7ojb+qUBDt/gLWzQ371OYRuBP/9UlXGGgaknql11HfeTYIkBzuEUeLK/YiuYcDLzglW8fqF2NJrf1asD+/f5Jcz2vqFEfkRn5i8tGzPiHhPaGK7ZyUxsptmhdltqf0UCGbUHCjXvzndHtGgfadKSm+lEz4CgPmp/IEpBpLYQ1IkqAf1IuwGFfg19BIab0+eG7srgOU5S9LbMgwuBmp/LGQiZQgKHCRO+wmp8owZVlKMSaNWJKSNXmt4p9LKa2RKvnlTa9gOxTzIpz62Y6wqZJbXoUyj7Lc48gBkV378z/1qsHHCRaPhe97ESULSLShwpOkEL4qt48E701LMN8h8JgeG3midl0lNPMJWecid6Fp+xr+qLr1OGLN/gE1G0fjI6teBg9mBjkSYBmjbx2cvfd1FVkFzIrMbvJo5ibuRyrkQVVrVXOEETBB0PqCIc+SqXj2DkH5isyZdQac6hrypfjQuWYca66WXSfLJp1whOPbTmCp1mK5wtG9atE5JaggNrIH9qEPD/6Uzq7/r1JDVR0oI90tWyh9JiwuPI5PnzYc=
  - secure: Ibwtc3NK8u8Y5v28iGT+pxv8qutanJNreDlxQVcLK2qTtNULbWDP6RuGLe9x2ggeIW3oV2QzWCU8llDxxu5JAxv36hNdfhQQwDrnYRkzKt3CUGfl5tmZb6UsQJhzBBbv3l2LVcLbmi8/dvuCmWTcq7wV1bme3fhohVwSFj9/tQvSm4kg+NxoVN2f0HocxvdgrBAiGuQwZm8libM4wakVSc38SKp9fnKd3iTyoVutV+PHuVWEiCk5cjeTtyUaZscRxJJfJs92gBjUoRVKpPkf1T+YvxqF7bpCosUyQeYKhwu4N2ggNX2xb2z2Ll/5UpE24riuJGCbSi8XqCRktUStgjnbhp+jcb+x7P/IX15jw5UY73/qAurXSFG+zgzAvSg/ONTqV3OAhzMnIC2vKozgucoG8R+H9pvP+9KMEiB17/s5n8LaLZTLFd9NA72dQAFvtTxLHCQwumMGIqaJb1HtwZbTDG/9uAtiia9oXmg14Njj4FqrE527WxaxUbBhSgzuJBlFRKdwn3wpK/0O6A6JrcMEVzQfdZSvW2oIOIqpyYQEWzpDTxZMiLGpKx+FCGLEJRsA6m5VTTOk1JxLO7gf8x3VvxxMtc7bS9XwFKRDFAKHBxejlq0DH/4qS21jF0mbFMh+8BnFBPZW/sYrC1EkylMpVg0vUKPeN0dZXyhMs+c=
  - secure: L6tZREpJ2mq6XXSpmWTuzChmY/mXaZCm2P4JAu1HC2hi9TmBaIU3TcNXRlhD6S2h9/9sWO5ZD1zQslYqd8gXnQdCMwVOiqq0XmGiHgrdqJqb/SCY6rX1XPCVIa8SyEILMhZlSJ5rK9y9awMFcOLyFaVcq8TbMvLLwkUEbjWwGUX0I8/L3dBNKBdLdAuAqas3SpF0tFzwZ4GV7k+rMsbJrn9ptUyTiE4PMiI2BgWWdhCsIenniorYZ/+MwXYBB/eaxIkK+Z+h0XZcrA67ZawC8qF7pzAi5m+AN/lPttMbDhTLIMxQPVgBYxsSgKBsO+Gx0UQtM7XpFlcQbdHNC3QKyd+l5rH4xEhsFwm3SCZnEFMElwfavaz3YGBQftJvTyCZrF16dZsS7UYE90c4PU5K6pk5mf8KBhNSKZ+JA+SJnV41t+17URqNdZTriTv32mH8bZ0z+YwBJrzuu2yOxcgbcYNE6YxCLHwAPTmPsIuWqkAslrjo2oFJ0I6orEiaYEyNAGnhskz3DtbmzLtLoA5Pt+emS5zjaZ8URMPsBMWPTUEpt9AELj2i48EOYAn1hpS5lFEntVt1yEvuhczEbpkizAKV0/lNzLdziE3/EhuTAwrK6DbwQQ7X5zv66kNO61vFrIN0vF9EVpPwHwb1aHqPRs8br3sqJDFu//gqWWHocKw=
before_install:
- openssl aes-256-cbc -K $encrypted_79f8c2494b60_key -iv $encrypted_79f8c2494b60_iv
  -in web3j.asc.enc -out web3j.asc -d
